<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= user.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is registration complete:</strong>
    <%= user.is_registration_complete %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= user.address_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last login utc:</strong>
    <%= user.last_login_utc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is registered to vote:</strong>
    <%= user.is_registered_to_vote %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is email verified:</strong>
    <%= user.is_email_verified %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password bcrypt:</strong>
    <%= user.password_bcrypt %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is admin:</strong>
    <%= user.is_admin %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this user", edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
