<div id="<%= dom_id user_invite %>">
  <p>
    <strong>User:</strong>
    <%= user_invite.user_id %>
  </p>

  <p>
    <strong>Invitee email:</strong>
    <%= user_invite.invitee_email %>
  </p>

  <p>
    <strong>Invite expires on utc:</strong>
    <%= user_invite.invite_expires_on_utc %>
  </p>

  <p>
    <strong>Invite accepted on utc:</strong>
    <%= user_invite.invite_accepted_on_utc %>
  </p>

</div>
