<div id="<%= dom_id legislator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">External:</strong>
    <%= legislator.external_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= legislator.active %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Link:</strong>
    <%= legislator.link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= legislator.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">District:</strong>
    <%= legislator.district %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= legislator.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= legislator.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= legislator.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= legislator.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fax:</strong>
    <%= legislator.fax %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= legislator.address_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Party:</strong>
    <%= legislator.party %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Photo url:</strong>
    <%= legislator.photo_url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this legislator", legislator, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this legislator", edit_legislator_path(legislator), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
