<div id="<%= dom_id user_district %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">District:</strong>
    <%= user_district.district_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_district.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user district", user_district, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this user district", edit_user_district_path(user_district), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
