<div id="<%= dom_id legislator_vote %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Legislator:</strong>
    <%= legislator_vote.legislator_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bill:</strong>
    <%= legislator_vote.bill_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Support:</strong>
    <%= legislator_vote.support %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this legislator vote", legislator_vote, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this legislator vote", edit_legislator_vote_path(legislator_vote), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
