<div id="<%= dom_id sway_locale %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= sway_locale.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= sway_locale.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= sway_locale.country %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this sway locale", sway_locale, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this sway locale", edit_sway_locale_path(sway_locale), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
