<div id="<%= dom_id user_legislator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Legislator:</strong>
    <%= user_legislator.legislator_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_legislator.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user legislator", user_legislator, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this user legislator", edit_user_legislator_path(user_legislator), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
