<div id="<%= dom_id vote %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Voted on utc:</strong>
    <%= vote.voted_on_utc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bill:</strong>
    <%= vote.bill_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this vote", vote, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this vote", edit_vote_path(vote), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
